# commited dist files
!dist
lib

# dependencies
node_modules/
!dist/**/node_modules
!dist/**/node_modules/**

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Test files
coverage
commitlint-cjs.config.cjs
!coverage/coverage-final.json
